@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

#ex1 {
  border: 1px solid black;
  display: inline-block;
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(38, 89, 244);
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
}

.butt1 button {
  font-size: 20px;
  margin-left: 15px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(96, 236, 61);
  cursor: pointer;
}

#butt2 {
  margin: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(208, 30, 131);
  color: white;
}

.wets {
  font-size: 20px;
}
